/*got this code from flexbox example pages via CODE PEN*/
/*https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
body {
  background-color: silver;
  text-align: center;
  font-weight: bold;
  font-family: Arial, Verdana, sans-serif;
  font-size: 200%;

}
.wrapper {
  display: flex;
  flex-flow: row wrap;
}

/* We tell all items to be 100% width */
.header, .nav, .aside, .footer{
  flex: 1 80%;
  border:0px solid;
}
.asideOne:active {
  background-image: url("../images/river.png");
  color: DarkCyan;
}
.asideTwo:active {
  background-image: url("../images/river.png");
  color: DarkCyan;
}
.main {
  min-width: 400px;
}


.nav {
  text-align: center;
}
.fakeFooter {
  background-image: url("../images/river.png");
  background-repeat: no-repeat;
  background-position: center;
  opacity: .2;
  z-index: -1;
}

}

/* We rely on source order for mobile-first approach
 * in this case:
 * 1. header
 * 2. nav
 * 3. main
 * 4. aside
 * 5. footer
 */

/* Medium screens */
@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  .aside { flex: 1 auto; }
}

/* Large screens */
@media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars
   */
  .main { flex: 2 0px; }

  .asideOne { order: 1; }
  .main    { order: 2; }
  .asideTwo { order: 3; }
  .footer  { order: 4; }
}
